STELLAR_NETWORK=stellar:testnet
STELLAR_RECIPIENT=GAW3KSJBGKNWH4LMUQRXBCSAUL4YUAF4LEHMONMDXFBMA3I524NXLOIG   # merchant G address with a USDC trustline
FACILITATOR_URL=https://channels.openzeppelin.com/x402/testnet
OZ_API_KEY=                                                             # https://channels.openzeppelin.com/testnet/gen
PORT=3001
